.hoi-dap{
	width: 40%;
	height: 30vh;
	margin: auto;
	background-color: white;
	border-radius: 12px;
	text-align: center;
	padding-top: 40px;
}

input[type='search']{
	text-align: center;
	width: 250px;
	border: 2px solid #6c5ce7;
	border-radius: 24px;
	height: 30px;
	outline: none;
	transition: 0.4s ease;
}
input[type='search']:focus{
	width: 300px;
	border: 2px solid #fdcb6e;
}
input[type='submit']{
	width: 60px;
	height: 25px;
	margin-top: 10px;
	border-radius: 24px;
	border: none;
	background: #6c5ce7;
	cursor: pointer;

}
input[type='submit']:hover{
	background: #fdcb6e;
	color: #6c5ce7;
}